<app-body-tab text="Chats">
  <app-searchbar
    class="search"
    placeholder_text="Search or start a new chat"
  ></app-searchbar>
  <div class="left-content">
    <app-tab
      image_src="../assets/background.jpg"
      image_alt="@justtife image"
      user="Boluwatife"
      message="Lorem Ipsum dolor sit amet"
      time="22:30PM"
      unread="2"
    ></app-tab
    ><app-tab
      image_src="../assets/background.jpg"
      image_alt="@justtife image"
      user="Boluwatife"
      message="Lorem Ipsum dolor sit amet"
      time="22:30PM"
      unread="2"
    ></app-tab
    ><app-tab
      image_src="../assets/background.jpg"
      image_alt="@justtife image"
      user="Boluwatife"
      message="Lorem Ipsum dolor sit amet"
      time="22:30PM"
      unread="2"
    ></app-tab
    ><app-tab
      image_src="../assets/background.jpg"
      image_alt="@justtife image"
      user="Boluwatife"
      message="Lorem Ipsum dolor sit amet"
      time="22:30PM"
      unread="2"
    ></app-tab
    ><app-tab
      image_src="../assets/background.jpg"
      image_alt="@justtife image"
      user="Boluwatife"
      message="Lorem Ipsum dolor sit amet"
      time="22:30PM"
      unread="2"
    ></app-tab
    ><app-tab
      image_src="../assets/background.jpg"
      image_alt="@justtife image"
      user="Boluwatife"
      message="Lorem Ipsum dolor sit amet"
      time="22:30PM"
      unread="2"
    ></app-tab
    ><app-tab
      image_src="../assets/background.jpg"
      image_alt="@justtife image"
      user="Boluwatife"
      message="Lorem Ipsum dolor sit amet"
      time="22:30PM"
      unread="2"
    ></app-tab
    ><app-tab
      image_src="../assets/background.jpg"
      image_alt="@justtife image"
      user="Boluwatife"
      message="Lorem Ipsum dolor sit amet"
      time="22:30PM"
      unread="2"
    ></app-tab
    ><app-tab
      image_src="../assets/background.jpg"
      image_alt="@justtife image"
      user="Boluwatife"
      message="Lorem Ipsum dolor sit amet"
      time="22:30PM"
      unread="2"
    ></app-tab
    ><app-tab
      image_src="../assets/background.jpg"
      image_alt="@justtife image"
      user="Boluwatife"
      message="Lorem Ipsum dolor sit amet"
      time="22:30PM"
      unread="2"
    ></app-tab>
  </div>
  <div class="right">Hello World</div>
</app-body-tab>
