<div class="main-container">
  <div class="topnav">
    <img src="../assets/logo.png" alt="WhatsApp Logo" />
    <span class="name">WhatsApp</span>
    <div class="left-menu">
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
  <div class="main-body">
    <div class="left-bar">
      <ul>
        <li routerLink="chats"><i class="fa fa-comment"></i></li>
        <li routerLink=""><i class="fa fa-phone"></i></li>
        <li routerLink=""><i class="fa fa-circle"></i></li>
      </ul>
    </div>
    <div class="message-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
