<app-body-tab text="Calls">
    <app-searchbar
      class="search"
      placeholder_text="Search or start a new call"
    ></app-searchbar>
    <div class="left-content">
      <i class="fa fa-link"></i>
      <span class="call">
        <h4>create a call link</h4>
        <small>share a link for your WhatsApp call</small>
      </span>
    </div>
    <div class="left-content">
      <app-tab
        image_src="../assets/download.jfif"
        image_alt="@justtife image"
        user="Boluwatife"
        message="Lorem Ipsum dolor sit amet"
        time="22:30PM"
        unread="2"
      ></app-tab
      ><app-tab
        image_src="../assets/download_(1).jfif"
        image_alt="@justtife image"
        user="Ife"
        message="Lorem Ipsum dolor sit amet"
        time="22:30PM"
        unread="2"
      ></app-tab
      ><app-tab
        image_src="../assets/images(6).jfif"
        image_alt="@justtife image"
        user="Peter Smith"
        message="Lorem Ipsum dolor sit amet"
        time="22:30PM"
        unread="2"
      ></app-tab
      ><app-tab
        image_src="../assets/Screenshot(41).png"
        image_alt="@justtife image"
        user="Nifemi"
        message="Lorem Ipsum dolor sit amet"
        time="22:30PM"
        unread="2"
      ></app-tab
      ><app-tab
        image_src="../assets/WhatsApp_Image.jpg"
        image_alt="@justtife image"
        user="Joseph"
        message="Lorem Ipsum dolor sit amet"
        time="22:30PM"
        unread="2"
      ></app-tab
      ><app-tab
        image_src="../assets/logo.png"
        image_alt="@justtife image"
        user="Nurudeeen"
        message="Lorem Ipsum dolor sit amet"
        time="22:30PM"
        unread="2"
      ></app-tab
      ><app-tab
        image_src="../assets/images(7).jfif"
        image_alt="@justtife image"
        user="Oshodi"
        message="Lorem Ipsum dolor sit amet"
        time="22:30PM"
        unread="2"
      ></app-tab
      ><app-tab
        image_src="../assets/download_(10).jfif"
        image_alt="@justtife image"
        user="Elvis"
        message="Lorem Ipsum dolor sit amet"
        time="22:30PM"
        unread="2"
      ></app-tab
      ><app-tab
        image_src="../assets/download_(1).jfif"
        image_alt="@justtife image"
        user="WleDev"
        message="Lorem Ipsum dolor sit amet"
        time="22:30PM"
        unread="2"
      ></app-tab
      ><app-tab
        image_src="../assets/photo_2023-03-09_12-57-03.jpg"
        image_alt="@justtife image"
        user="Big bro"
        message="Lorem Ipsum dolor sit amet"
        time="22:30PM"
        unread="2"
      ></app-tab>
    </div>
    <div class="right">Hello World</div>
    Abdulmojeed
   
  </app-body-tab>
  